html,body{
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    min-height: 400px;
    min-width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.directionWrapper{
    height: 50%;
    max-height: 50%;
}

.arrow{
    height: 20%;
    display: flex;
    justify-content: center;
}

.arrow > img{
    height: 100%;
}

.compass {
    height: 80%;
    display: flex;
    justify-content: center;
}

.compass > img {
    height: 100%;
    max-height: 100%;
    transition: transform 0.2s;
}

.buttonsWrapper {
    min-height: 80px;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttonsWrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48%;
    min-height: 30px;
    height: 45%;
    margin-top: 10px;
    color: white;
    background-color: #000;
    font-size: 40px;
}

.active{
    background-color: #990000 !important;
}

.submitWrapper{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitWrapper button{
    width: 80%;
    height: 80%;
    background-color: #990000;
    color: #fff;
    font-size: 100px;
}
